.main_container
{
    position: fixed;
    top: 10px;
    left: 10px;
    width: auto;
    height: auto;
    max-height: 600px;          /* maybe set by js to window height*/
    font-family: monospace;
}

.dataset_container
{
    display: table-column;
    position: absolute;
    height: auto;
    color: #d3d3d3;
}

.dataset
{
    cursor: auto;
    display: inline-block;      /*div not wider than it must*/
    background-color: #8c2328;
    border: 2px solid #dc2328;
}

.dataset_heading
{
    cursor: pointer;
    white-space: nowrap;
    margin: 2px;
}

.dataset_heading_hash
{
    font-size: small;
    width: 100%;
    padding-left: 5px;
    text-align: left;
    color: #a9a9a9;
    cursor: pointer;
    white-space: nowrap;
}

.dataset_function_heading
{
    cursor: auto;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.dataset_function_container
{
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    min-width: 80px;
    width: 100%;
    background-color: #009fe1;
}

.dataset_functions {
    position: relative;
    background-color: #001e32;
    padding: 2px;
    margin-bottom: 2px;
    left: 10px;
    width: auto;
    max-width: 150px;
    height: auto;
}

.dataset_function_separator
{
    margin-bottom: 2px;
}

.dataset_timestep_controls_container {
    position: relative;
    display: flex;              /*reduce space between controls*/
    margin-left: 2px;
    margin-right: 2px;
}

.dataset_timestep_control
{
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #00556e;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px;
}

.dataset_timestep_control_previous_next
{
    width: 15px;
}

.dataset_timestep_control_current
{
    width: calc(100% - 30px);
}

/* Absolute to .dataset_timestep_current */
.dataset_timestep_menu_padding_container
{
    cursor: pointer;
    background-color: #00556e;
    border: 1px solid #001e32;

    visibility: hidden;

    position: absolute;
    top: 0px;
    left: calc(100% + 5px);
    width: auto;
    z-index: 1;

    overflow-y: auto;

    padding-left: 3px;
    padding-right: 3px;

    min-width: 50px;
    max-width: 100px;
    max-height: 80px;
}

.dataset_timestep_menu {
    cursor: pointer;
    height: auto;
}

.dataset_timestep_menu_item {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataset_field_current {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: calc(100% - 8px);
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    text-align: center;
    background-color: #00556e;
}

.dataset_change_orientation_container
{
    cursor: auto;
    position: relative;
    display: inline-block;
    width: calc(100% - 8px);
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background-color: #00556e;
}

/* Absolute to .dataset_field_current */
.dataset_field_menu_padding_container
{
    cursor: pointer;
    background-color: #00556e;
    border: 1px solid #001e32;

    visibility: hidden;

    position: absolute;
    top: 20px;
    left: calc(100% + 5px);
    width: auto;
    z-index: 1;

    overflow-y: auto;

    padding-left: 3px;
    padding-right: 3px;

    min-width: 120px;
    max-width: 200px;
    max-height: 80px;
}

.dataset_field_menu {
    cursor: pointer;
    height: auto;
}

.dataset_field_menu_item {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataset_change_orientation_checkbox
{
    cursor: pointer;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
}

.dataset_change_orientation_label
{
    cursor: pointer;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.dataset_reset_orientation_button
{
    cursor: pointer;
    background-color: #00556e;
    width: calc(100% - 8px);
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
}
